<div class="container">
    <div class="row">
        <h2 class="card-title text-center">Welcome Back {{firstName}}!!!</h2>
        {{#each blog}}
        <div class="col-sm-6 p-3">
            <div class="card" id="profile-card" >
                <div>
                    <h5 class="card-title" style="color: white">Name: {{first_name}} {{last_name}}</h5>
                    <h6 class="card-title" style="color: white">Blog posted {{blog_name}}</h6>
                    <p class="card-text" style="color: white">Email: {{email}}</p>
                    <p class="card-test" style="color: white">Phone number: {{phone_number}}</p>
                    <p class="card-test" style="color: white">On: {{date}}</p>
                    <p class="card-test" style="color: white">At: {{time}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>